@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
/* Cacher la scrollbar de manière universelle */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
